body{
    background-color: #f3f0f0;
    
}
main{
    
    max-width: 600px;
    
  /* padding: 20px auto; */
    margin:  10px auto;
}

h1 {
    color: #1460AA;
}
h2{
    color: #555555;
}
.header-1{
    color: #14aa46;
}
.header-skroty{
    color: #ee1b1b;
    font-weight: bold;
}

.navigation{
    background: #ee1b1b;
    padding: 8px;
    /* border-top-left-radius:24px; */
    border-radius:12px 0px;
    max-width: 800px;
    margin: auto;


}
.navigation__link{
    margin-left: 40px;
    background: #d6d4d4;
    padding: 1px 8px;
    /* border-top-left-radius:12px; */
    border-radius:0px 12px;
}

.navigation__link--start{
    color: #000000;
   

}

.week{
    color: rgb(214, 214, 214);
    background: #1460AA;
    padding: 5px 10px;

}
.week__title{
    color: #555555;
    margin-left: 10px;

}
.week__notes{
    border-width: 0px;
    border-bottom: 2px;
    border-color: rgb(67, 133, 231);
    border-style: solid;
    
    padding: 5px;
    /* border: 1px #1460AA solid; */

}
.week__notes--end-block{
    border-bottom: 0px;

}
.article-importent-title{
    color: rgb(214, 214, 214);
    background: #e63451;
    padding:  0px 5px;
   
}
.week_link{

}
.week_link--external{
    
}